<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="DateFormat01" class="reyes.melanio.portfolio.rsswebservice.util.DateFormat">
		<constructor-arg value="EEE, dd MMM yyyy HH:mm:ss z" />
	</bean>

	<bean id="DateFormat02" class="reyes.melanio.portfolio.rsswebservice.util.DateFormat">
		<constructor-arg value="EEE, dd MMM yy HH:mm:ss z" />
	</bean>

	<bean id="DateFormat03" class="reyes.melanio.portfolio.rsswebservice.util.DateFormat">
		<constructor-arg value="yyyy-MM-dd'T'HH:mm:ss'Z'" />
	</bean>

	<bean id="DateFormat04" class="reyes.melanio.portfolio.rsswebservice.util.DateFormat">
		<constructor-arg value="MM/dd/yy h:mm a" />
	</bean>

	<bean id="DateFormat05" class="reyes.melanio.portfolio.rsswebservice.util.DateFormat">
		<constructor-arg value="MM/dd/yy" />
	</bean>
	
	<bean id="DateParserBean" class="reyes.melanio.portfolio.rsswebservice.util.DateParser">
		<property name="dateFormats">
			<list>
				<ref bean="DateFormat01" />
				<ref bean="DateFormat02" />
				<ref bean="DateFormat03" />
				<ref bean="DateFormat04" />
				<ref bean="DateFormat05" />
			</list>
		</property>
	</bean>

	<bean id="RssFeedParserBean"
		class="reyes.melanio.portfolio.rsswebservice.parser.RssFeedParser">
		<property name="dateParser" ref="DateParserBean" />
	</bean>

	<bean id="AtomParserBean" class="reyes.melanio.portfolio.rsswebservice.parser.AtomFeedParser">
		<property name="dateParser" ref="DateParserBean" />
	</bean>

	<bean id="FeedParserBucketBean"
		class="reyes.melanio.portfolio.rsswebservice.parser.FeedParserBucket">
		<property name="parsers">
			<list>
				<ref bean="RssFeedParserBean" />
				<ref bean="AtomParserBean" />
			</list>
		</property>
	</bean>
	
</beans>